<div class="main-divider">
  <div class="first-divider">
    <div class="item">
      <label for="">Referance Number:</label>
      <input type="text" />
    </div>

    <div class="item">
      <label for="search">Search Item:</label>
      <input type="text" id="search" />

      <div>
        <input type="checkbox" name="" id="">
        <label for="search">Normal Repair/Free</label>
        <input type="checkbox" name="" id="">
        <label for="search">Paid</label>
        <button>OK</button>
<div>
    <input type="checkbox" name="" id="">
    <label for="search">Cost Estimation/Bill</label>
    <input type="checkbox" name="" id="">
    <label for="search">Bill Ok</label>
    
</div>
    </div>

    </div>

          
  </div>
 
</div>
