<div class="main-divider">
  <div class="second-divider">
    <div>
      <div>
        <label class="colorfull-Label" for="">01.Search Appliance</label>
      </div>
      <input type="text" />
    </div>

    <div>
      <div>
        <label class="colorfull-Label" for="">02.Search Model</label>
      </div>

      <input type="text" />
    </div>

    <div>
      <div>
        <label class="colorfull-Label" for=""
          >02.Search Item [Search by Item Description]</label
        >
      </div>

      <input style="width: 320px" type="text" />
    </div>

    <div>
      <div>
        <label for=""></label>
      </div>

      <input type="date" [(ngModel)]="currentDate" readonly />
    </div>
  </div>


  <div class="tables">
    <div class="center-table">
      <table style="width: 100%;">
        <thead>
          <tr>
            <th></th>
            <th>Applince</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let person of data">
            <td>{{ person.id }}</td>
            <td>{{ person.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="right-table">
        <div class="model-table">
            <table style="width: 100%;">
                <thead>
                  <tr>
                    <th></th>
                    <th>Model</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let person of nextdata">
                    <td>{{ person.id }}</td>
                    <td>{{ person.name }}</td>
                  </tr>
                </tbody>
              </table>
        </div>
   
      </div>

     <div class="right-table">
        <table style="width: 150%;" >
          <thead>
            <tr>

              <th>Select</th>
              <th>Stock Code</th>
              <th>Item Description </th>
              <th>Price </th>
              <th>Available Qty </th>
              <th>Request Qty </th>
              <th>Stock Available </th>
              <th>Available Date </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let person of finalResults">
              <td><input type="checkbox"></td>
              <td>{{ person.code }}</td>
              <td>{{ person.description }}</td>
              <td>{{ person.price }}</td>
              <td>{{ person.discount }}</td>
              <td>{{ person.tax }}</td>
              <td>{{ person.availability }}</td>
              <td>{{ person.date }}</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>

  <div class="orderForm"> <strong   for="" >Your Order Form 
    <strong   for=""></strong>{{orderForm|number:'1.2-2'}} <strong for="">
    </strong></strong>   
    <strong for=""  >Total Bill Value: <label  for=""></label>{{totalBillValue|number:'1.2-2'}}</strong>  
     <label  for=""></label>

    
  
    <fieldset class="please-select">
      <legend>7.Please Select</legend>
      <input type="checkbox">
      <label for="">W/H or Stock</label>
      <input type="checkbox">
      <label for="">Customer</label>
      <input type="checkbox">
      <label for="">Dealer</label>
      <input type="checkbox">
      <label for="">Authorized Service Center</label>
    
    </fieldset>
    <fieldset class="please-select">
      <legend>Please Add Data:</legend>
      <label for="">Dealer/Customer Name:</label>
      <input type="text" name="" id="">
      <label for="">Item Serial Number:</label>
      <input type="text" name="" id="">
      <label for="">Mobile Number:</label>
      <input type="text" name="" id="">

      <label for="">Phone Number:</label>
      <input type="text" name="" id="">
      
      <label for="">Invoice Adress:</label>
      <input type="text" name="" id="">
    </fieldset>
  </div>
 

    <div class="center-tables">
        <div class="center-tables-a">
            <table style="width: 100%;">
                <thead>
                  <tr>
                    <th></th>
                    <th>Item Description</th>
                    <th>Price</th>
                    <th>Qty</th>
                    <th>Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let person of fourthTable">
                    <td>{{ person.id }}</td>
                    <td>{{ person.description }}</td>
                    <td>{{ person.price }}</td>
                    <td>{{ person.qty }}</td>
                    <td>{{ person.ammount }}</td>
                 
                  </tr>
                </tbody>
              </table>
        </div>
  
      <div class="right-tables">
        
        <table style="width: 100%;" >
          <thead>
            <tr>
           
              <th>Select</th>
              <th>Stock Code</th>
              <th>Item Description </th>
              <th>Price </th>
              <th>Available Qty </th>
              <th>Request Qty </th>
              <th>Stock Available </th>
              <th>Available Date </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let person of finalResults">
                <td><input type="checkbox"></td>
                <td>{{ person.code }}</td>
                <td>{{ person.description }}</td>
                <td>{{ person.price }}</td>
                <td>{{ person.discount }}</td>
                <td>{{ person.tax }}</td>
                <td>{{ person.availability }}</td>
                <td>{{ person.date }}</td>
            </tr>
          </tbody>
        </table>
        
      </div>
      <label for=""></label>
      <button class="add-btn"  >04 .Add Selected Item To Order form</button>   
    </div>

    <div class="btn-class">
        <strong for="" style="color: red; " >Please Select Remove item form Order Sheet then Press This Button.</strong> 
         <button style="background-color: #C96868; width: 200px;height: 40px;">06. Order Form Item Remove</button> 
         <button class="add-btn"  >04 .Save Your Order </button>   
    </div>
    
</div>
