<div class="split left" style="border: 2px solid black">
  <form style="border: 2px solid black" action="">
    <div>
      <div>
        <label for="">Search By Reference Number:</label>
      </div>

      <div>
        <input type="text" />
      </div>
      <div>
        <label for="">Search By Customer Name:</label>
      </div>

      <div>
        <input type="text" />
      </div>
      <div>
        <input type="checkbox" />
        <label for="">Repair Item</label>
      </div>
      <div>
        <input type="checkbox" />
        <label for="">Order Managment Item</label>
      </div>
      <div>
        <label for="">Record Count Is :2</label>
        <button>Refreesh</button>
      </div>
      <div>
        <table style="border: 1px solid black">
          <thead>
            <tr>
              <th style="border: 1px solid black; background-color: #d6eeee">
                Number
              </th>
              <th style="border: 1px solid black; background-color: #d6eeee">
                Job Card Number
              </th>
              <th style="border: 1px solid black; background-color: #d6eeee">
                Customer Name
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="border: 1px solid black">1</td>
              <td style="border: 1px solid black">305347</td>
              <td style="border: 1px solid black">Kasun</td>
            </tr>
            <tr>
              <td style="border: 1px solid black">2</td>
              <td style="border: 1px solid black">305347</td>
              <td style="border: 1px solid black">Mr. Janith Gunawardana</td>
            </tr>
            <tr>
              <td style="border: 1px solid black">3</td>
              <td style="border: 1px solid black">305347</td>
              <td style="border: 1px solid black">Mr. Janith Gunawardana</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
</div>

<!--------------------------- Customer  Details ----------------------------------------->
<div class="split right" style="border: 2px solid black">
  <div class="divider">Customer Details</div>
  <form style="border: 1px solid black" action="">
    <div class="customer-details-divider">
      <div>
        <label for="">Customer Name</label>
        <input type="text" name="" id="" />
      </div>

      <div>
        <label for="">Customer Address Invoice</label>
        <input type="text" name="" id="" />
      </div>

      <div>
        <label for="">Customer Phone 01</label>
        <input type="text" name="" id="" />
      </div>

      <div>
        <label for="">Customer Address Service</label>
        <input type="text" name="" id="" />
      </div>

      <div>
        <label for="">Customer Complaints:</label>
        <input type="text" name="" id="" />
      </div>
      <div>
        <label for="">Customer Phone 02</label>
        <input type="text" name="" id="" />
      </div>
    </div>
  </form>

  <!--------------------------- Item Details ----------------------------------------->
  <div class="divider">Item Details</div>
  <form style="border: 1px solid black" action="">
    <div class="item-details-divider">
      <div>
        <label for="">Item Serial Number</label>
        <input type="text" name="" id="" />
      </div>

      <div>
        <label for="">Referenc Number</label>
        <input type="text" name="" id="" />
      </div>

      <div>
        <label for="">Pack Contain (Check List)</label>
        <input type="text" name="" id="" />
      </div>

      <div>
        <label for="">Job Open Date</label>
        <input type="text" name="" id="" />
      </div>

      <div>
        <label for="">Item Code</label>
        <input type="text" name="" id="" />
      </div>

      <div>
        <label for="">Return Show Room :</label>
        <input type="text" name="" id="" />
      </div>

      <div>
        <label for="">Branch Code :</label>
        <input type="text" name="" id="" />
      </div>

      <div>
        <label for="">Invoice Date :</label>
        <input type="text" name="" id="" />
      </div>

      <div>
        <label for="">Requested Item :</label>
        <input type="text" name="" id="" />
      </div>

      <div>
        <label for="">Out Door Serial Number :</label>
        <input type="text" name="" id="" />
      </div>

      <div>
        <label for="">Approved Ref Name :</label>
        <input type="text" name="" id="" />
      </div>

      <div>
        <label for="">Narration :</label>
        <input type="text" name="" id="" />
      </div>
    </div>

    <!--------------------------- Cash Details ----------------------------------------->
    <div class="cash">
      <div>
        <button>Cash Collection</button>
        <button>Cash Refund</button>
      </div>

      <div>
        <div>
          <div>
            <label for="">Vehical No:</label>
            <select value="">
              <option name="" id="">1</option>
            </select>
          </div>
          <!--------------------------- Vehical Details ----------------------------------------->
          <div>
            <label for="">Vehical No:</label>
            <select value="">
              <option name="" id="">2</option>
            </select>
          </div>
          <div>
            <label for="">Vehical No:</label>
            <select value="">
              <option name="" id="">3</option>
            </select>
          </div>
        </div>
      </div>
      <!--------------------------- Invoice Details ----------------------------------------->
      <div class="cash-inv" style="width: 300px">
        <div>
          <div>
            <input type="checkbox" />
            <label for=""> Inv With Delivery</label>
          </div>

          <div>
            <input type="checkbox" />
            <label for=""> Invoice</label>
          </div>
          <div>
            <input type="checkbox" />
            <label for=""> Tax Invoice</label>
          </div>
        </div>
        <div>
          <button>Print Invoice</button>
        </div>
      </div>
    </div>
  </form>
  <!--------------------------- Payment Details ----------------------------------------->

  <form action="">
    <div class="row">
 
      <div class="column">
        <div class="divider">Payment Details</div>
        <div class="payment-details-divider">
        <div>
          <label for="">Cost Estimation Number :</label>
          <input type="text" />
        </div>
    
        <div>
          <label for="">Amount Paid Status :</label>
          <input type="text" />
        </div>
        
        <div>
          <label for="">Repair Invoice Number :</label>
          <input type="text" />
        </div>
      
        <div>
          <label for="">Estimated Approved Amount :</label>
          <input type="text" />
        </div>
      
        <div>
          <label for="">Paid Amount :</label>
          <input type="text" />
        </div>
       
        <div>
          <label for="">Invoice Number:</label>
          <input type="text" />
        </div>
     
        <div>
          <label for="">Paid For Repair :</label>
          <input type="text" />
        </div>

        <div>
          <label for="">VAT:</label>
          <input type="text" />
        </div>
      </div>
      </div>
      <!--------------------------- Item Repair Information ----------------------------------------->

      <div class="row" style="border: 1px solid black">
        <div class="divider">Item Repair Information</div>
        <div class="column">
          <form action="">
            <div>
              <table style="border: 1px solid black">
                <thead>
                  <tr>
                    <th
                      style="border: 1px solid black; background-color: #d6eeee"
                    >
                      
                    </th>
                    <th
                      style="border: 1px solid black; background-color: #d6eeee"
                    >
                     Item Description
                    </th>
                    <th
                      style="border: 1px solid black; background-color: #d6eeee"
                    >
                      Quantity
                    </th>
                    <th
                    style="border: 1px solid black; background-color: #d6eeee"
                  >
                    Warranty Status
                  </th>
                  <th
                  style="border: 1px solid black; background-color: #d6eeee"
                >
                  Defect Type
                </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="border: 1px solid black">1</td>
                    <td style="border: 1px solid black">Cross Stand</td>
                    <td style="border: 1px solid black">3.00</td>
                    <td style="border: 1px solid black">Om Req</td>
                    <td style="border: 1px solid black"></td>
                  </tr>
                  <tr>
                    <td style="border: 1px solid black">1</td>
                    <td style="border: 1px solid black">Cross Stand</td>
                    <td style="border: 1px solid black">3.00</td>
                    <td style="border: 1px solid black">Om Req</td>
                    <td style="border: 1px solid black"></td>
                  </tr>
                  <tr>
                    <td style="border: 1px solid black">1</td>
                    <td style="border: 1px solid black">Cross Stand</td>
                    <td style="border: 1px solid black">3.00</td>
                    <td style="border: 1px solid black">Om Req</td>
                    <td style="border: 1px solid black"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </form>
        </div>
      </div>

      <div class="divider">Tempory Item Issued Details</div>
      <form style="border: 1px solid black" action="">
        <div class="tempory-item">
          <div>
            <label for="">Tempory Item Issued Serial Number :</label>
            <input type="text" />
          </div>
          
          <div>
            <label for="">Item Model :</label>
            <input type="text" />
          </div>
     
          <div>
            <button>Tempory Item Colleted</button>
          </div>
          <div>
            <button>Tempory Item Not Colleted</button>
          </div>
        </div>
      </form>
    </div>
  </form>
</div>
