body{
  margin: 0%;
  padding: 0%;
}
.contents {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.header {
  border: 1px solid black;
  gap: 10px;
  margin: 1%;
  padding: 1%;
}
