
<div class="main-heading">

    <ul class="topnav">

          <div class="dropdown">
    
            <button class="dropbtn">Master Files
              <i class="fa fa-caret-down"></i>
            </button>
    
            <div class="dropdown-content">
              <a href="/addOrder" >Add Order</a>
              <a href="/purchase"  >View Purchase Orders</a>
              <a style="background-color: #FF004D;color: white;" href="/deletePurchase">Delete Purchase Orders</a>
     
            </div>
          </div>
    
         <div class="dropdown">
            <button class="dropbtn">Accounts Menu
            <i class="fa fa-caret-down">
            </i>
          </button>
          
          <div class="dropdown-content">
            <a href="#">Add Suppliers</a>
            <a href="#">ViewSuppliers</a>
            <a href="#" style="background-color: #FF004D; color: white;">Delete Suppliers</a>
          
        </div>
    
          
        </div>
    
        <div class="dropdown">
            <button class="dropbtn">Spare parts Stores
            <i class="fa fa-caret-down">
            </i>
          </button>
          
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          
        </div>
    
          
        </div>
        <div class="dropdown">
            <button class="dropbtn">Technician
            <i class="fa fa-caret-down">
            </i>
          </button>
          
          <div class="dropdown-content">
            <a href="#">Spare Parts Bulk Request</a>
            <a href="/sparepartsrequest">Spare Parts Request</a>
            <a href="#">Technician Estimation</a>
            <a href="#">Technician Staock View</a>
            <a href="#">Technician Allocation</a>
            <a href="#">Out From WorkShop</a>
            <a href="#">WorkShop Job Card</a>
            <a href="#">Technician Allocation</a>
            <a href="#">Packing in</a>
            <a href="#">Packing Out</a>
            <a href="#">Item Confirmation</a>
            <a href="#">Create For Packing Out </a>
          
        </div>
    
          
        </div>
        <div class="dropdown">
            <button class="dropbtn">Show Room
            <i class="fa fa-caret-down">
            </i>
          </button>
          
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          
        </div>
    
          
        </div>
        <div class="dropdown">
            <button class="dropbtn">Packing
            <i class="fa fa-caret-down">
            </i>
          </button>
          
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          
        </div>
    
          
        </div>
        <div class="dropdown">
            <button class="dropbtn">Main Stores
            <i class="fa fa-caret-down">
            </i>
          </button>
          
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          
        </div>
    
          
        </div>
        <div class="dropdown">
            <button class="dropbtn">Supervisor
            <i class="fa fa-caret-down">
            </i>
          </button>
          
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          
        </div>
    
          
        </div>
        <div class="dropdown">
            <button class="dropbtn">Customer Care
            <i class="fa fa-caret-down">
            </i>
          </button>
          
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          
        </div>
    
          
        </div>
        <div class="dropdown">
            <button class="dropbtn">WorkShop
            <i class="fa fa-caret-down">
            </i>
          </button>
          
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          
        </div>
    
          
        </div>

    
    
          
    
        
    
    
    </ul>
    
    </div>
    
<router-outlet>
